<!DOCTYPE html>
<html lang="en">
<head>
    {{>headerlinks}}
    
</head>
<body>
    {{>navbar}}
   <!--- main header-->
   <div class="container-fluid main_header">
    <div class="row">
        <div class="col-md-10 col-12 mx-auto">
             <div class="row">
                 <!-- left side div-->
                 <div class="col-md-6 col-12 main_header_right align-items-center">
                    <figure>
                        <img src="images/about.webp"  alt="sachin" class="img-fluid" title="sachin bisht">
                    </figure>
 
                </div>
               <div class="col-md-6 col-12 main_header_left">
                 <p>welcome to weather app</p>
                 <h1> HI, I Am  <span class="text_clr">Sachin Bisht,</span>Mern Stack Developer</h1>
                 <p><a href="https://instagram.com/sachinbisht7206?igshid=7vsvlocn9494" target="_sachin"><button>about me</button></a></p>
                 <a href="https://instagram.com/finest_collection7?igshid=w4jvt5wr52pc" target="_sachin"><button>about me</button></a>
                
               </div>
               <!--right side div-->
               
             </div> 
        </div>
     </div> 
    </div>   

    <!-- footer code-->
    {{>footer}}
</body>
</html>